<!DOCTYPE html>
<html>
  <head>
    <title>React Robots!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div id="flash-messages"></div>
      <h1><a href="/">React Robots!</a></h1>
      <a type="button" class="btn btn-primary pull-right" href="/robots/new">
        <span class="glyphicon glyphicon-plus"></span> new
      </a>
    </header>

    <h2>Robots</h2>

    <div id="robots-table"></div>

    <hr style="margin-top:2em;">
    <footer>
      <p><a href="#">source</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/dist/bundle.js"></script>
  </body>
</html>
